* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.check-in-container,
.check-out-container {
  margin: 1rem 2rem;
}

.check-in-container p,
.check-out-container p {
  margin: .5rem 0;
}

.check-in-container input,
.check-out-container input {
  border-radius: .5rem;
  border: none;
  background-color: #f1e5e5;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  }

  &:focus {
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  }
}

.check-in-output-section,
.check-out-output-section {
  display: flex;
  justify-content: space-between;
  background-color: #f1e5e5;
  border-radius: .4rem;
  padding: .3rem;
  p {
    margin-left: 0.5rem;
    font-size: .9rem ;
<<<<<<< HEAD
    color: #747272;
=======
>>>>>>> bdbb46eea5acea91d5f011343ee6006b6c47467d
  }
}

@media (width > 800px) {
  .check-in-container input,
  .check-out-container input {
    width: 2rem;
    padding: .5rem;
  }

  .check-in-output-section,
  .check-out-output-section {
    width: 25rem;
  }
}

@media (width < 800px) {
  .check-in-container input,
  .check-out-container input {
    width: 2rem;
    padding: 0.5rem;
  }

  .check-in-output-section,
  .check-out-output-section {
    width: 15rem;
  }
}

input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
